@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?7nhlzj');


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e900";
}
.icon-delivery:before {
  content: "\e901";
}
.icon-organized:before {
  content: "\e902";
}
.icon-product:before {
  content: "\e903";
}