.about {
	width: 100%;
	height: 700px;
	background: #00c4c4;
	background: -moz-radial-gradient(center, ellipse cover, #00c4c4 0%, #00b7b7 32%, #00adad 68%, #009c9c 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #00c4c4 0%,#00b7b7 32%,#00adad 68%,#009c9c 100%);
	background: radial-gradient(ellipse at center, #00c4c4 0%,#00b7b7 32%,#00adad 68%,#009c9c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4c4', endColorstr='#009c9c',GradientType=1 );
	display: flex;
	align-items: center;

	&__wrap {
		display: flex;
		align-items: center;
	}

	&__img {
		margin: 0 40px 0 -55px;
		
	}
	
	&__title {
		color: #fff;
		font: 90px $font;
		margin-bottom: 30px;
	}

	&__desc {
		color: #fff;
		font: 17px/27px $font;
	}

}

